.details-panel .settings {
  .settings-panel {
    .error {

      .image {
        font-family: @font-family-monospace;
      }

      font-size: @jumbotron-font-size;
      text-align: center;
      color: @brand-negative;
      background-color: lighten(@brand-negative, 32%);
      padding: 1rem;
      border-radius: @border-radius;
      -webkit-user-select: text;
    }
  }
}
